*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    text-align: center;
    width: 90%;
}

input[type=text], button{
    border:1px solid  rgb(188, 143, 175);
    padding: 10px;
    border-radius: 10px;
    margin-top: 25px;
}

#inputText{
    width: 50%;
}
#outputText{
    width: 75%;
}

